<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/aliens</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Atomhtml132!</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Show SQL in console -->
        <property name="hibernate.show_sql">true</property>

        <!-- Hibernate auto DDL update -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Enable second-level cache -->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.JCacheRegionFactory</property>
        <property name="hibernate.cache.jcache.configLocation">ehcache.xml</property>

        <!-- Logging the second-level cache activity for debugging -->
        <property name="hibernate.generate_statistics">true</property>

    </session-factory>
</hibernate-configuration>
