<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alien" class="org.example.Alien" autowire="byType">
        <property name="age" value="10" />
    </bean>

    <bean id="com" class="org.example.Computer" abstract="true" primary="true"/>
    <bean id="dekstop" class="org.example.Dekstop"></bean>
</beans>
